DOCKER_COMPOSE = """version: '3.8'

services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: trilio_dms
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"

  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: trilio
      RABBITMQ_DEFAULT_PASS: password
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  dms:
    build: .
    environment:
      DMS_DB_URL: mysql://root:password@mysql/trilio_dms
      DMS_RABBITMQ_URL: amqp://trilio:password@rabbitmq:5672
      DMS_AUTH_URL: http://keystone:5000/v3
      DMS_NODE_ID: dms-node-1
    privileged: true
    cap_add:
      - SYS_ADMIN
    devices:
      - /dev/fuse
    volumes:
      - /mnt/trilio:/mnt/trilio:shared
    depends_on:
      - mysql
      - rabbitmq

volumes:
  mysql_data:
  rabbitmq_data:
"""
